bin/
obj/

ChisaApi.Infrastructure/Migrations/
.vs/
*.user
*.suo
*.userosscache
*.rsuser
*.sln.docstates
.vscode/
*.code-workspace
Thumbs.db
Desktop.ini
.DS_Store
*.log
publish/
[Dd]ebug/
[Rr]elease/
x64/
x86/
.cursor/
**/appsettings.Development.json
secrets.json
*.env
*.env.local
docs/
database/
